<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: "w-full" }) do |form| %>
  <div class="text-start mb-4">
    <%= form.label :email, "Email Address", class: "block mb-1.5 text-sm font-medium" %>
    <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", placeholder: "name@company.com", required: true %>
  </div>

  <div class="text-start mb-4">
    <%= form.label :password, "Password", class: "block mb-1.5 text-sm font-medium" %>
    <%= form.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", required: true %>
    <% if @minimum_password_length %>
      <p class="text-xs text-red-500 italic mt-1">Must be <%= @minimum_password_length %> characters minimum</p>
    <% end %>
  </div>

  <div class="text-start mb-4">
    <%= form.label :password_confirmation, "Confirm password", class: "block mb-1.5 text-sm font-medium" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", required: true %>
  </div>

  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">Sign up</button>

  <div class="text-sm font-light text-gray-500 ">
    Already have an account? <a href="/users/sign_in" class="text-primary-600 hover:underline ">Sign in</a>
  </div>
<% end %>

<div class="w-full flex items-center justify-between my-2 2xl:py-2">
  <hr class="w-full bg-gray-400">
  <div class="text-base font-medium leading-4 px-2 text-sm text-gray-500">or</div>
  <hr class="w-full bg-gray-400">
</div>

<div class="text-xs font-light">
  By continuing, you agree to the updated
  <a href="/" class="underline" target="_blank" rel="noopener noreferrer">Terms of Sale</a>,
  <a href="/" class="underline" target="_blank" rel="noopener noreferrer">Terms of Service</a>, and
  <a href="/" class="underline" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
</div>

<%= render "devise/shared/links" %>
