<%= javascript_include_tag 'articles', defer: true %>

<div id="<%= dom_id article %>" class="mx-auto w-2/3">
  <h1 class="text-4xl font-bold">
    <%= article.title %>
  </h1>

  <p class="text-lg my-4 font-light italic">
    <%= article.summary %>
  </p>

  <p class="text-sm my-4 font-light">
    By <%= article.author %> | Published <%= format_date(article.created_at) %>
  </p>

  <%= image_tag article.thumbnail, alt: 'Article Thumbnail', class: 'w-full' %>

  <% if defined?(no_content) %>
  
  <% elsif !user_signed_in? %>
    <div class="article mt-4 leading-7">
      <%= article.content.body %> 
    </div>
    <%= render "paywall/signin" %>
  
  <% elsif !current_user.can_access?(article) %>
    <div class="article mt-4 leading-7">
      <%= article.content.body %> 
    </div>
    <%= render "paywall/subscriptions", article: article %>
  
  <% else%>
    <div class="article mt-4 leading-7">
      <%= article.content.body %> 
    </div>
  <% end %>         



        <%
=begin%>
<div class="flex flex-row wrap">
          <%= render partial: 'transactions/form', locals: { transaction: Transaction.new(user: current_user, related_object: article, extra_info: {return_url: article_url(article)}) }%>

          <%= render partial: 'transactions/form', locals: { title: "Buy 1-day Pass", transaction: Transaction.new(user: current_user, related_object: AccessPass.create(valid_from: Time.now, valid_until: 25.hours.from_now), extra_info: {return_url: article_url(article)}) }%>
        </div>
<%
=end%>
  
</div>
