<div id="<%= dom_id article %>">
  <h1>
    <%= article.title %>
  </h1>

  <p>
    <i><%= article.summary %></i>
  </p>

  <% if defined?(no_content) %>
  <% elsif current_user.can_access?(article) %>
    <p>
      <%= article.content %>
    </p>
  <% else %>
    <p>
      <%= article.content.to_plain_text.truncate(1000) %>
    </p>

    <%= render partial: 'transactions/form', locals: { transaction: Transaction.new(user: current_user, related_object: article, extra_info: {return_url: article_url(article)}) }%>
    <%= render partial: 'transactions/form', locals: { title: "Buy 1-day Pass", transaction: Transaction.new(user: current_user, related_object: AccessPass.create(valid_from: Time.now, valid_until: 25.hours.from_now), extra_info: {return_url: article_url(article)}) }%>
  <% end %>


</div>
