<div class="container mx-auto px-12">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
      <section class="mb-16">
        <div class="relative mb-8">
          <a href="<%= article_path(@articles[0]) %>">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/018.jpg" class="w-full object-cover rounded" alt="Banner" />
          </a>
          <a href="<%= article_path(@articles[0]) %>" class="absolute inset-0 bg-black/40 w-full h-fit flex flex-col text-start items-start p-4 mb-0 mt-auto px-10 text-slate-200 hover:text-slate-300">
            <h2 class="text-3xl font-semibold mb-2 hover:underline"><%= @articles[0].title %></h2>

            <p class="mb-4 text-sm">
              <small>Published <u><%= format_date(@articles[0].created_at) %></u>
              </small>
            </p>

            <p class="text-start text-normal"><%= @articles[0].summary.truncate_words(30) %></p>
          </a>
        </div>

        <%= render "home/articles_grid", articles: @articles, grid_col: 3, lines: 1 %>
      </section>

      <section class="mb-16 text-start">
        <h2 class="mb-8 text-3xl font-bold text-gray-700">Latest news</h2>

        <%= render "home/articles_grid", articles: @articles, grid_col: 3, lines: 2 %>
      </section>

      <section class="mb-16">
        <% all_categories.each do |category_name| %>
          <%= render "home/articles_by_category", articles: Article.tagged_with(category_name.downcase), category_title: category_name, lines: 4 %>
        <% end %>
      </section>
    </div>

    <div class="col-span-1">
      <div class="container mx-auto md:px-6">
        <section class="mb-32 text-center md:text-left">
          <h2 class="mb-8 text-xl font-bold">Most popular</h2>

          <%= render "home/articles_only_title", articles: @articles, count: 5 %>
        </section>
      </div>

    </div>
  </div>
</div>


