<div id="<%= dom_id credit_token %>">
  <p>
    <strong>User:</strong>
    <%= credit_token.user_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= credit_token.provider %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= credit_token.token %>
  </p>

  <p>
    <strong>Threshold:</strong>
    <%= credit_token.threshold %>
  </p>

  <p>
    <strong>Expired at:</strong>
    <%= credit_token.expired_at %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= credit_token.cancelled_at %>
  </p>

  <p>
    <strong>Hourly threshold:</strong>
    <%= credit_token.hourly_threshold %>
  </p>

  <p>
    <strong>Daily threshold:</strong>
    <%= credit_token.daily_threshold %>
  </p>

  <p>
    <strong>Weekly threshold:</strong>
    <%= credit_token.weekly_threshold %>
  </p>

  <p>
    <strong>Monthly threshold:</strong>
    <%= credit_token.monthly_threshold %>
  </p>

  <p>
    <strong>Transaction threshold:</strong>
    <%= credit_token.transaction_threshold %>
  </p>

</div>
