<!-- Only show hero if we have more than 3 articles-->
<!-- TODO: Build hero for 1 or 2 articles. -->
<% if articles.length > 2 %>
  <div class="mb-12 w-full">
    <div class="text-center">
      <h1 class="text-4xl font-semibold text-gray-900 mb-4 uppercase"><%= hero_title %></h1>
      <p class="text-gray-600 text-lg mb-8 w-1/2 mx-auto">
        News and updates from the <%= hero_title.downcase %> team. Topics include genetics, infectious disease, psychology, and more.
      </p>
      <div class="w-3/4 h-1 bg-primary-500 mx-auto mb-10"></div>
    </div>

    <div class="flex gap-0.5">
      <div class="w-3/5">
        <div class="relative h-full">
          <a href="<%= article_path(articles[0]) %>">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/018.jpg" class="w-full h-full object-cover" alt="Banner" />
          </a>
          <div class="absolute inset-0 bg-black/75 w-3/4 h-fit flex flex-col text-center items-center p-4 m-auto text-slate-200">
            <a href="<%= article_path(articles[0]) %>" class="text-3xl font-semibold mb-2 hover:text-slate-300 hover:cursor-pointer hover:underline"><%= articles[0].title %></a>
            <p class="text-center text-normal">By Anthony James</p>
          </div>
        </div>
      </div>

      <div class="w-2/5 flex flex-col justify-between gap-0.5">
        <div class="relative h-64">
          <a href="<%= article_path(articles[1]) %>">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/018.jpg" class="w-full h-full object-cover" alt="Banner" />
          </a>
          <div class="absolute inset-0 bg-black/75 w-3/4 h-fit flex flex-col text-center items-center p-4 m-auto text-slate-200">
            <a href="<%= article_path(articles[1]) %>" class="font-semibold mb-2 text-lg hover:text-slate-300 hover:cursor-pointer hover:underline"><%= articles[1].title %></a>
            <p class="text-center text-normal">By Anthony James</p>
          </div>
        </div>

        <div class="relative h-64">
          <a href="<%= article_path(articles[2]) %>">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/018.jpg" class="w-full h-full object-cover" alt="Banner" />
          </a>
          <div class="absolute inset-0 bg-black/75 w-3/4 h-fit flex flex-col text-center items-center p-4 m-auto text-slate-200">
            <a href="<%= article_path(articles[2]) %>" class="font-semibold mb-2 text-lg hover:text-slate-300 hover:cursor-pointer hover:underline"><%= articles[2].title %></a>
            <p class="text-center text-normal">By Anthony James</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
