<div id="<%= dom_id transaction %>">
  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= transaction.article_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= transaction.provider %>
  </p>

  <p>
    <strong>Provider transaction:</strong>
    <%= transaction.provider_transaction_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Extra info:</strong>
    <%= transaction.extra_info %>
  </p>

</div>
