<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["SITE_TITLE"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "https://flowbite.com/docs/images/logo.svg" %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <!-- Include Flowbite library https://flowbite.com/docs/getting-started/quickstart/ -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="flex flex-col min-h-screen h-auto">
      <% if content_for(:auth_topnav).present? %>
        <%= yield :auth_topnav %>
      <% else %>
        <%= render "layouts/topnav" %>
      <% end %>
    
      <main class="container mx-auto mt-28 flex grow">
        <p style="color: green"><%= notice %></p>
        <%= yield %>
      </main>

      <% if content_for(:auth_footer).present? %>
        <%= yield :auth_footer %>
      <% else %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>

    <%= javascript_include_tag "turbo" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>
