<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["SITE_TITLE"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

  </head>

  <body>
    <!-- render topnav -->
    <%= render "layouts/topnav" %>

    <main class="container mx-auto mt-28 px-5 flex">
      <!-- Container for demo purpose -->
      <p style="color: green"><%= notice %></p>
      <%= yield %>

    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
